:root {
    --pengpos: rgba(238, 17, 17, 1);
    --main-color: rgba(10, 36, 114, 1);
    --shade-of-gray: rgba(102, 102, 102, 1);
    --gray: rgba(198, 198, 198, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --body-large-font-family: "Inter", Helvetica;
    --body-large-font-weight: 400;
    --body-large-font-size: 22px;
    --body-large-letter-spacing: 0px;
    --body-large-line-height: 24px;
    --body-large-font-style: normal;
    --body-medium-font-family: "Inter", Helvetica;
    --body-medium-font-weight: 400;
    --body-medium-font-size: 14px;
    --body-medium-letter-spacing: 0px;
    --body-medium-line-height: 20px;
    --body-medium-font-style: normal;
    --body-small-font-family: "Inter", Helvetica;
    --body-small-font-weight: 400;
    --body-small-font-size: 12px;
    --body-small-letter-spacing: 0px;
    --body-small-line-height: 16px;
    --body-small-font-style: normal;
    --display-large-font-family: "Inter", Helvetica;
    --display-large-font-weight: 700;
    --display-large-font-size: 64px;
    --display-large-letter-spacing: 0px;
    --display-large-line-height: 80px;
    --display-large-font-style: normal;
    --display-medium-font-family: "Inter", Helvetica;
    --display-medium-font-weight: 700;
    --display-medium-font-size: 48px;
    --display-medium-letter-spacing: 0px;
    --display-medium-line-height: 150%;
    --display-medium-font-style: normal;
    --title-medium-font-family: "Inter", Helvetica;
    --title-medium-font-weight: 600;
    --title-medium-font-size: 40px;
    --title-medium-letter-spacing: 0px;
    --title-medium-line-height: 52px;
    --title-medium-font-style: normal;
    --title-small-font-family: "Inter", Helvetica;
    --title-small-font-weight: 500;
    --title-small-font-size: 32px;
    --title-small-letter-spacing: 0px;
    --title-small-line-height: 40px;
    --title-small-font-style: normal;
}